---
import AdminLayout from "../../layouts/AdminLayout.astro";
---

<AdminLayout title="Bilder deaktiviert">
    <p>
        Die Bildverwaltung wurde aus dem Admin-Bereich entfernt.
        Bitte verwende stattdessen direkt Bild‑URLs in den Formularen für
        Werke und Workshops.
    </p>
</AdminLayout>
